image:
  repository: postgres
  tag: "16.1-alpine"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 5432

persistence:
  enabled: true
  storageClass: ""
  size: 10Gi

postgres:
  database: postgres
  username: postgres
  password: changeme

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

securityContext:
  runAsNonRoot: true
  runAsUser: 999
  fsGroup: 999
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false

livenessProbe:
  exec:
    command:
    - /bin/sh
    - -c
    - exec pg_isready -U postgres -h 127.0.0.1 -p 5432
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6

readinessProbe:
  exec:
    command:
    - /bin/sh
    - -c
    - exec pg_isready -U postgres -h 127.0.0.1 -p 5432
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
