argo-cd:
  global:
    domain: argocd.local

  configs:
    params:
      server.insecure: true
    cm:
      application.instanceLabelKey: argocd.argoproj.io/instance
      timeout.reconciliation: 180s

  server:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      hosts:
        - argocd.local
      paths:
        - /
      pathType: Prefix

  dex:
    enabled: false

  notifications:
    enabled: false

  applicationSet:
    enabled: true

  repoServer:
    replicas: 1

  controller:
    replicas: 1
